.question{
    max-width: 800px;
    margin: auto;
    
}

.headQuestion{
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding:20px 30px;
    font-weight: 400;
    font-size: 1.7rem;
    margin: 10px;
    user-select: none;
    cursor: pointer;
}


.iocn{
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    transition: rotate 1s;
}

.description{
    background-color: #222;
    text-align: left;
    padding:20px 30px;
    font-weight: 400;
    font-size: 1.7rem;
    margin: 10px;
    user-select: none;
    cursor: pointer;
    display: none;
    transition: all 1s;
}

.active .icon{
    transform: rotate(45deg);
}

.active .description{
    display: block;
}


@media only screen and (max-width:450px){
    .headQuestion{
        padding:20px 20px;
        font-weight: 400;
        font-size: 1.3rem;

        text-align: left;
    }

    .description{
        background-color: #222;
        text-align: left;
        padding:20px 20px;
        font-weight: 400;
        font-size: 1.3rem;

    }
}